$color-text: #fff;

%imag {
    background-position: center;
    background-size: cover;
}


body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div.continer {
    width: 100%;
    height: 100%;
    background: url(../images/bg-1.png);
    @extend %imag;
    display: flex;
    align-items: center;
    justify-content: center;

    div.blackBG {
        border-radius: 24px;
        width: 70%;
        height: 80%;
        background-color: #00000015;
        display: flex;
        align-items: center;
        justify-content: center;

        div.content {
            width: 23%;
            height: 75%;
            background: rgba(88, 130, 193, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(6px);
            border-radius: 24px;
            padding-inline: 80px;
            padding-block: 40px;

            .logo-text {
                text-align: center;
                color: $color-text;
                font-weight: bold;
            }

            .form-box {
                .text {
                    color: $color-text;
                    font-weight: bold;
                    margin: 0;
                }

                .input-box {
                    .input-row {
                        margin-top: 24px;

                        p {
                            color: $color-text;
                            margin: 0;
                            font-size: 14px;
                            margin-top: 14px;
                            margin-bottom: 6px;
                        }

                        input {
                            background-color: $color-text;
                            border-radius: 8px;
                            width: 100%;
                            padding: 9px 5px;
                            outline: none;
                            border: none;
                        }
                    }

                    .Forgot-text {
                        font-size: 13px;
                        color: $color-text;
                        text-decoration: none;
                        display: block;
                        margin-top: 10px;
                    }
                }

                .login-Btn {
                    margin-top: 24px;
                    width: 100%;
                    padding: 9px 5px;
                    border-radius: 8px;
                    background-color: #003465;
                    color: $color-text;
                    border: none;
                    font-weight: bold;
                    font-size: 16px;
                }
            }

            .login-other {
                margin-top: 24px;

                .other-text {
                    color: $color-text;
                    margin: 0;
                    font-size: 14px;
                    text-align: center;
                }

                .other-con {
                    display: flex;
                    margin-top: 24px;
                    gap: 17px;

                    .other-item {
                        width: 75px;
                        height: 37px;
                        border-radius: 6px;
                        background-color: $color-text;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            .register-text {
                font-size: 13px;
                color: $color-text;
                text-align: center;

                a {
                    color: $color-text;
                    font-weight: bold;
                }
            }
        }
    }
}